html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  background: #ABD2FF;
  font-family: sans-serif;
  font-weight: 100;
}
 
.timer {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
 
.field {
  padding: 10px;
  border-radius: 3px;
  background: #008FB3;
  display: inline-block;
}
 
.value {
  padding: 15px;
  border-radius: 3px;
  background: #00CBFF;
  display: inline-block;
}
 
.label {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}