/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

body {
  text-align: center;
  background: #88b0dd;
  font-family: sans-serif;
  font-weight: 100;
}
 
.timer {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.field {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  background: #0f4877;
  display: inline-block;
}

.value {
  padding: 15px;
  border-radius: 3px;
  background: #1c75be;
  display: inline-block;
}
 
.label {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}